@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;



/*
.card {
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  padding: $spacing-05;
  background-color: colors.$gray-90;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.card__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.card__overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
  font-size: 11pt;
  font-weight: bold;
}
*/
.card {
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  padding: $spacing-05;
  background-color: colors.$gray-90;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .card__image-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .card__image {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .card__overlay {
      position: absolute;
      top: 8px;
      left: 8px;
      color: white;
      font-weight: bold;
    }
  }
}
  
.overlay__title{
  color: #ffffff;
  font-size: 11pt;
  margin-top: 0 auto;
}
.card__title {
  color: #333333;
  font-size: 24px;
  margin-top: $spacing-05;
}
  
.card__description {
  @include type-style('label-02');
  text-align: left;
  //margin-top: $spacing-04;
  padding-top: $spacing-05;
  padding-bottom: $spacing-02;
}
  
.card__cta {
  background-color: #0072c3;
  border-radius: 4px;
  color: colors.$gray-90;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  padding: 12px 24px;
  text-decoration: none;
}
  
.card__cta:hover {
  background-color: #005da5;
}

.addBorderBottom {
  border-bottom: solid 1px colors.$gray-70;
}

#card__footer{
  display:'flex';
  padding-top: $spacing-04;
}

.iButton {
  text-align: right;
}


.card__footerLT{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__footerRT{
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

.card__footer Tag {
  align-self: left; /* Add this line to vertically align the Tag component */ 
}

.card__footer IconButton {
  /* styles for the IconButton component here */
  align-self: center; /* Add this line to vertically align the IconButton component */
  text-align: right;
}